.title {
    font-size: 24px;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}

body, .gender_values {
    font-size: 15px;
    margin: 0px;
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(
            to right,
            rgb(0, 0, 0) 0%,
            rgb(50, 53, 56) 100%
    );
    color: aliceblue
}

a {
    text-decoration: none ;
    color: aliceblue ;
}

table {
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 10px;
    border: 1px solid  rgb(35, 36, 37);
}

.table-head tr {
    background-color: black;
    color: aliceblue ;
    text-align: left;
}

.table-style th,
.table-style td {
    padding: 12px 15px;
}

.table-style tbody tr {
    border-bottom: 1px solid aliceblue;
}

.table-style tbody tr:nth-of-type(even) {
    background-color: #242424;
}

.table-style tbody tr:last-of-type {
    border-bottom: 2px solid #050505;
}

.table-style tbody tr.active-row {
    font-weight: bold;
    color: #36373d;
}

.add {
    font-size: 17px;
    color: aliceblue;
    padding: 10px;
    background: rgb(0, 128, 240);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.edit {
    font-size: 17px;
    color: white;
    padding: 10px;
    background: rgb(0, 128, 240);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.delete {
    font-size: 17px;
    color: white;
    padding: 10px;
    background: darkred;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
}


form {
    padding: 40px;
    font-size: 20px;
}

.form-box label {
    display: block;
    margin-bottom: 10px;
}

.radio-box label {
    display: inline;
    font-size: 15px;
}

p {
    margin: 10px;
}
.check-box label {
    display: inline;
    margin-bottom: 10px;
    font-size: 15px;
}

.form-box input {
    width: 300px;
    padding: 10px;
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
}

.radio-box input {
    width: auto;
}

.check-box input {
    width: auto;
    margin-top: 30px;
}

hr {
    border: none;
    height: 1px;
    background-color: aliceblue;
    margin-bottom: 10px;
    margin-top: 20px;
}
.hidden {
    display: none;
}

input.invalid {
    border: 1px solid red;
    margin-bottom: 10px;
}

.error-hint {
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
}

button {
    font-size: 17px;
    padding: 10px;
    background: rgb(0, 128, 240);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
    color: aliceblue
}

button:hover {
    background-color: rgb(4, 56, 109);
    color: white;
}

.success-msg {
    display: block ;
    width: 50%;
    font-size: 20px;
    margin: 100px auto auto;
    padding: 20px;
    text-align: center;
    color: aliceblue ;
}

.user-info {
    font-weight: lighter;
}

.back {
    display: block;
    color: aliceblue;
    margin: 30px 20px;
}

.option {
    display: block ;
    margin-top: 10%;
    font-size: 24px;
    text-align: center;
    color: aliceblue;
    padding: 10px;
    text-decoration: none ;
}
