<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Confirmation</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link
                href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
                rel="stylesheet"
        />
    </head>
    <body>
    <div class="back">
        <a th:href="@{/}"><img th:src="@{images/home.png}" src="../static/images/home.png" alt="Page d'acceuil" width="70" height="70"></a>
    </div>
        <div class="success-msg title" id="successMsg" th:object="${member}">
            <h3>"Vos informations sont enregistrées!"</h3>
            <span>Prénom : </span><span class="user-info" th:text="*{firstName}" id="prénom"></span><br/>
            <span>Nom : </span><span class="user-info" th:text="*{lastName}" id="nom"></span><br/>
            <span>Date de naissance : </span><span class="user-info" th:text="*{birthDate}" id="dateDeNaissance"></span><br/>
            <span>Adressse courriel : </span><span class="user-info" th:text="*{email}" id="adresseCourriel"></span><br/>
            <span>Gender : </span><span class="user-info" th:text="*{gender}" id="gender"></span><br/>
        </div>
    </body>

</html>