<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Formulaire d'enregistrement</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
    rel="stylesheet"
  />
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div class="back">
    <a th:href="@{/}"><img th:src="@{images/home.png}" src="../static/images/home.png" alt="Page d'acceuil" width="70" height="70"></a>
</div>
    <div class="title">
        <h1>Formulaire d'enregistrement</h1>
    </div>
    <div>
        <form th:action="@{/ajouter-membre}" th:object="${member}" id="membershipForm" method="POST">
            <div class="form-box">
                <input type="hidden" th:field="*{permitNumber}">
                <label for="firstName">Prénom</label>
                <input type="text" th:field="*{firstName}" class="" name="firstName" id="firstName" placeholder="Prénom">
                <div class="error-hint" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error></div>
                <div class="error-hint hidden">Ce champs est obligatoire.</div>

                <label for="lastName">Nom</label>
                <input type="text" th:field="*{lastName}" class="" name="lastName" id="lastName" placeholder="Nom">
                <div class="error-hint" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error></div>
                <div class="error-hint hidden">Ce champs est obligatoire.</div>

                <label for="birthDate">Date de naissance</label>
                <input type="date" th:field="*{birthDate}" class="" name="birthDate" id="birthDate" placeholder="Date de naissance">
                <div class="error-hint" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Name Error></div>
                <div class="error-hint hidden">Ce champs est obligatoire.</div>

                <label for="email">Adresse courriel</label>
                <input type="email" th:field="*{email}" class="" name="email" id="email" placeholder="abc@abc.com">
                <div class="error-hint" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error></div>
                <div class="error-hint hidden">Ce champs est obligatoire.</div>
                <div class="error-hint" th:text="${msg}"></div>

                <div class="radio-box">
                    <p name="gender-selection" id="gender">Genre:</p>
                    <div class="error-hint" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Name Error></div>
                    <div class="error-hint hidden">Choisissez une option.</div>
                    <input type="radio" name="gender" id="female" value="FEMALE">
                    <label for="female">Female</label><br>
                    <input type="radio" name="gender" id="male" value="MALE">
                    <label for="male">Male</label><br>
                    <input type="radio" name="gender" id="other" value="OTHER">
                    <label for="other">Other</label><br>
                </div>

                <div class="check-box">
                    <input type="checkbox" th:field="*{passedExam}" name="passedExam" id="passedExam" value="true">
                    <label for="passedExam">J'ai réussi l'examen de l'ordre.</label>
                </div>

            </div>
        <hr />
            <button type="submit" name="submitForm" id="submitForm">Enregistrer</button>
            <button type="reset" name="resetForm" id="resetForm">Réinitialiser</button>
        </form>
    </div>
    <script type="module" th:src="@{/js/script.js}"></script>
</body>
