<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire d'enregistrement</title>
    <link rel="stylesheet" href="../static/src/style.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
    rel="stylesheet"
  />
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">

</head>
<body>
    <div class="title">
        <h1>Formulaire d'enregistrement</h1>
    </div>
    <div>
        <form id="membershipForm" action="#" method="POST">
            <div class="form-box">
                <label for="firstName">Prénom</label>
                <input type="text" class="" name="firstName" id="firstName" placeholder="Prénom">
                <div class="error-hint hidden">Ce champs est obligatoire.</div>
                <label for="lastName">Nom</label>
                <input type="text" class="" name="lastName" id="lastName" placeholder="Nom">
                <div class="error-hint hidden">Ce champs est obligatoire.</div>
                <label for="birthDate">Date de naissance</label>
                <input type="date" class="" name="birthDate" id="birthDate" placeholder="Date de naissance">
                <div class="error-hint hidden">Ce champs est obligatoire.</div>
                <label for="email">Adresse courriel</label>
                <input type="email" class="" name="email" id="email" placeholder="abc@abc.com">
                <div class="error-hint hidden">Ce champs est obligatoire.</div>
                <div class="radio-box">
                    <p name="gender-selection" id="gender">Genre:</p>
                    <div class="error-hint hidden">Choisissez une option.</div>
                    <input type="radio" name="gender" id="female" value="FEMALE">
                    <label for="female">Female</label><br>
                    <input type="radio" name="gender" id="male" value="MALE">
                    <label for="male">Male</label><br>
                    <input type="radio" name="gender" id="other" value="OTHER">
                    <label for="other">Other</label><br>
                </div>
                <div class="check-box">
                    <input type="checkbox" name="passedExam" id="passedExam" value="true">
                    <label for="passedExam">J'ai réussi l'examen de l'ordre.</label>
                </div>
            </div>
        <hr />
            <button type="submit" name="submitForm" id="submitForm">Enregistrez</button>
            <button type="reset" name="resetForm" id="resetForm">Réinitialisez</button>
        </form>
        <div class="success-msg" id="successMsg">
            <p id="prénom">Prénom: <p class="user-info" id="enteredFirstName"></p>
            <p id="nom">Nom: <p class="user-info" id="enteredLastName" ></p></p>
            <p id="dateDeNaissance">Date de naissance: <p class="user-info" id="enteredBirthDate"></p></p>
            <p id="adresseCourriel">Adressse courriel: <p class="user-info" id="enteredEmail"></p></p>
            <p id="genre">Genre: <p class="user-info" id="enteredGender"></p></p>
        </div>
    </div>
    <script src="../static/src/script.js"></script>
</body>
