<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Acceuil</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
        <link
                href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
                rel="stylesheet"
        />
    </head>
    <body>
        <div>
            <a class="option" th:href="@{/ajouter-membre}">Enregisrer un nouveau membre</a>
            <a class="option" th:href="@{/liste-membre}">Voir la list des membres</a>

        </div>
    </body>
</html>